/* Estilos para la barra superior */
.navbar {
    background-color: #171717;
    color: #b28405;
    text-align: left;
    padding: 10px;
    font-size: 24px;
}

.navbar-logo {
    margin-left: 20px;
}

.bizconnect {
    color: #b28405;
}

/* Estilos para el contenedor central */
.container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 120vh;
    width: 145vh;
}
/* Estilos para el contenedor de los botones */
.buttons {
    text-align: center;
    padding: 20px; /* Añade un espacio interno alrededor del contenedor de los botones */
    background-color: #ba973748; /* Fondo blanco */
}
.button {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ba9737;
    color: #171717;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.button:hover {
    background-color: #ffcc29;
    color: #171717;
}


/* Estilos para la imagen */
.image {
    float: left; /* Coloca la imagen a la izquierda del contenido */
    margin-left: 250px; /* Añade un margen a la derecha de la imagen para separarla del contenido */
    width: 500px; /* Establece un ancho para la imagen */
    height:auto; /* Permite que la altura de la imagen se ajuste automáticamente al ancho */
}

body {
    background-image: url('mm.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo en su lugar mientras se desplaza la página */
    margin: 0;
}
