<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/oficial.css">
    <title>BizConnect</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar-logo">
            <span class="bizconnect">BIZCONNECT</span>
        </div>
    </header>
    <div class="container">
        <div class="buttons">
            <button class="button" id="btnProyectos">Registrar Proyectos</button>
            </div>
        <div class="buttons">
            <button class="button" id="btnInversionistas">Registro de Inversionistas</button>
            </div>
        <div class="buttons">
            <button class="button" id="btnIniciarsesion">Iniciar sesion</button>
            </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
